/*
    개념익히기 공통 레이아웃 요소 (2024-04-16~)
    2024-04-16 작성
    아래 차시부터 적용
    개정수학 1학년 5단원 2차시 ~
    개정수학 2학년 5단원 4차시 ~
    개정수학 2학년 6단원 2차시 ~
*/
:root {
    --minute-deg: 0;
    --hour-deg: 0;
}

button:focus {
  border: none;
  outline: none;
}

.concept-warp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8ebe8;
  padding: 3.14vw 4.2vw 5.25vw;
}

.concept-warp_inner {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50px;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.concept-warp .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #6744f3;
  height: 127px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 0 80px 0 60px;
}

.concept-warp .header_title {
  display: flex;
  align-items: center;
}

.concept-warp .header_title h3 {
  color: white;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 44px;
  font-family: "NanumSquareRound";
}

.concept-warp .main_content {
  position: relative;
}

.concept-warp .header_page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 58px;
  font-size: 36px;
  color: #d2d2d2;
  background: #502fd3;
  border-radius: 100px;
}
.concept-warp .header_page span {
  color: white;
  font-weight: 800;
}
.concept-warp .header_title .sound-btn {
  width: 96px;
  height: 96px;
  background: url("../IMG/PLAYBTN.PNG");
  margin-right: 40px;
}
.concept-warp .main {
  position: relative;
  width: 100%;
  height: calc(100% - 127px);
}

.concept-warp .step {
  width: 100%;
  height: 100%;
  position: relative;
}

.main_prev-next {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
.main_prev-next .btn-prev,
.main_prev-next .btn-next {
  position: absolute;
  width: 60px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  background: url("../IMG/NEXT_ON.PNG") no-repeat center;
  margin-top: -35px;
}

.main_prev-next .btn-prev:disabled,
.main_prev-next .btn-next:disabled {
  background: url("../IMG/NEXT_OFF.PNG") no-repeat center;
}

.main_prev-next .btn-prev {
  left: 0;
  transform: rotate(180deg);
}

.main_prev-next .btn-next {
  right: 0;
}

.main .step-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.4vw;
}

.main .step-list_item {
  width: 2.5vw;
  height: 2.5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(../IMG/CONCEPT/PAGINATION_OFF.PNG);
}

.main .step-list_item.active {
  background-image: url(../IMG/CONCEPT/PAGINATION_ON.PNG);
}

.pointerNone {
  pointer-events: none;
}

.character {
  position: absolute;
  bottom: -3.2vw;
  z-index: 90;
  display: none;
  transition: all 0.5s;
  animation: 1.5s changeConChar steps(1) infinite;

  /* 0520 공통 수정 */
  width: 312px;
  height: 345px;
  right: calc(0.5vw - 6px);
  background-position: left 0px center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../IMG/CONCEPT/COMM/CHARACTER_IMG_2.PNG);
}


@keyframes changeConChar {
  0% {
    background-position: left 0px center;
  }
  20% {
    background-position: left -312px center;
  }
  40% {
    background-position: left -624px center;
  }
  60% {
    background-position: left -936px center;
  }
  80% {
    background-position: left -1248px center;
  }
  100% {
    background-position: left -1560px center;
  }
}

.character .character_head {
  margin-bottom: -0.5vw;
  animation: 2s shake2 infinite;
  transform-origin: 0 50% 100%;
  position: relative;
}

.character .character_head,
.character .character_body {
  display: none !important;
  visibility: hidden !important;
}

.character_yellow {
  width: 235px;
  height: 222px;
  animation: 1s changeConChar2 steps(1) infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../IMG/CHARACTER_Y_01.PNG);
}

@keyframes changeConChar2 {
  0% {
    background-image: url(../IMG/CHARACTER_Y_01.PNG);
  }
  50% {
    background-image: url(../IMG/CHARACTER_Y_02.PNG);
  }
  100% {
    background-image: url(../IMG/CHARACTER_Y_01.PNG);
  }
}

.character_pink {
  width: 206px;
  height: 207px;
  animation: 1s changeConChar3 steps(1) infinite;
  background-position: left 0px center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../IMG/CONCEPT/COMM/CHARACTER_P_01.png);
}

@keyframes changeConChar3 {
  0% {
    background-position: left 0px center;
  }
  50% {
    background-position: left -206px center;
  }
  100% {
    background-position: left 0px center;
  }
}

.character2 {
  position: absolute;
  right: calc(0.5vw - 6px);
  bottom: -3.2vw;
  z-index: 90;
  display: none;
}

.character2 .character_head {
  margin-bottom: -0.5vw;
  transform-origin: bottom center;
  animation: headShake 1s linear infinite alternate;
  position: relative;
}

.character2 .character_body {
  width: 87px;
  height: 87px;
}

.char_y_head {
  width: 215px;
  height: 253px;
  background: url(../IMG/CONCEPT/SEASON2/COMM/CHAR_Y_HEAD.png) no-repeat;
  transform: rotate(10deg);
  transform-origin: bottom center;
  animation: headShake 1s linear infinite alternate;
}

.char_y_body {
  width: 64px;
  height: 60px;
  margin-top: -40px;
  background: url(../IMG/CONCEPT/SEASON2/COMM/CHAR_Y_BODY.png) no-repeat;
}

.char_g_head {
  width: 100%;
  aspect-ratio: 208/176;
  background: url(../IMG/CONCEPT/SEASON2/COMM/CHAR_G_HEAD.png) no-repeat;
  background-size: contain;
  transform: rotate(10deg);
  transform-origin: bottom center;
  animation: headShake 1s linear infinite alternate;
}

.char_g_body {
  width: 30.5%;
  aspect-ratio: 64/60;
  margin-top: -5px;
  background: url(../IMG/CONCEPT/SEASON2/COMM/CHAR_G_BODY.png) no-repeat;
  background-size: contain;
}

.char_p_head {
  width: 100%;
  aspect-ratio: 119/151;
  background: url(../IMG/CONCEPT/SEASON2/COMM/CHAR_P_HEAD.png) no-repeat;
  background-size: contain;
  transform: rotate(10deg);
  transform-origin: bottom center;
  animation: headShake 1s linear infinite alternate;
}

@keyframes headShake {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.check_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 365px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.check_footer_inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f2f5ff;
  transform: translateY(100%);
}
.check_footer_inner.slideUp {
  transform: translateY(0);
  animation: 0.8s slideUp1;
}
.check_footer_text {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 1400px;
  height: 270px;
}
.check_footer_ch {
  position: absolute;
  top: 50px;
  right: 70px;
  width: 266px;
  height: 270px;
  border-radius: 50%;
  background: white;
  border: 4px solid #d9d9d9;
  overflow: hidden;
}
.check_footer_ch_head {
  position: absolute;

  /* 0520 공통 수정 */
  top: 24px;
  left: 9px;
  width: 243.6px;
  height: 203px;
  animation: 1.5s changeConceptCh steps(1) infinite;
  background-image: url(../IMG/CONCEPT/COMM/CAHR_H_IMG_2.PNG);
  background-size: cover;
  background-position: left 0px bottom;
}

@keyframes changeConceptCh {
  0%,
  100% {
    background-position: left 0px bottom;
  }
  33% {
    background-position: left -243.6px bottom;
  }
  66% {
    background-position: left -487.2px bottom;
  }
}

.check_footer_ch_body {
  position: absolute;
  top: 223px;
  left: 97px;
  width: 70px;
  height: 50px;
  background: url("../../COMM/IMG/CONCEPT/CAHR_B.PNG");
}

.ch_y_head_small {
  /* 0520 공통 수정 */
  aspect-ratio: 240/243;
  animation: 1.5s changeConceptCh2 steps(1) infinite;
  background-image: url(../IMG/CONCEPT/SEASON2/COMM/CHAR_Y_SMALL.png);
  background-size: cover;
  background-position: left 0px bottom;
}

.ch_g_head_small {
  /* 0520 공통 수정 */
  aspect-ratio: 244/212;
  animation: 1.5s changeConceptCh2 steps(1) infinite;
  background-image: url(../IMG/CONCEPT/SEASON2/COMM/CHAR_G_SMALL.png);
  background-size: cover;
  background-position: left 0px bottom;
}

.ch_pink {
  /* 0823 공통 수정 */
  aspect-ratio: 217/286;
  animation: 1.5s changeConceptCh2 steps(1) infinite;
  background-image: url(../IMG/CONCEPT/SEASON2/COMM/CHAR_PINK2.png);
  background-size: cover;
  background-position: left 0px bottom;
}

@keyframes changeConceptCh2 {
  0%,
  100% {
    background-position: left 0px bottom;
  }
  50% {
    background-position: left -100% bottom;
  }
}

.draggable-warp {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.draggable-warp .btn {
  background: #bedaff;
  font-weight: 800;
  font-size: 44px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 114px;
  border-radius: 20px;
  margin-right: 48px;
}
.draggable-warp .btn:last-of-type {
  margin-right: 0;
}

.touchMotionWarp {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.touchMotion {
  position: absolute;
  width: 163px;
  height: 149px;

  /* 공통 요소 추가 (3단원~) */
  z-index: 200;
  display: none;
}
.touchMotion_point {
  width: 80px;
  height: 80px;
  background: url("../../COMM/IMG/TOUCH_GUIDE.PNG") no-repeat center;
  background-size: cover;
  animation: guideScale 1s 1s infinite alternate;
}
.touchMotion_hand {
  position: absolute;
  background-image: url("../../COMM/IMG/TOUCH_GUIDE_HAND.PNG");
  top: 25px;
  left: 35px;
  width: 120px;
  height: 120px;
  z-index: 200;
}

.key-pad-wrap {
  position: absolute;
  width: 100%;
  height: calc(100% - 127px);
  bottom: 0;
  left: 0;
  z-index: 100;
  transform: translateY(-80px);
}

.main__container .full_content_comm + .key-pad-wrap {
  height: 100%;
}

.key-pad {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 14px;
  right: 14px;
  width: 764px;
  /* height: 286px; */
  /* background: url("../IMG/KEYPAD.png") no-repeat center; */
  /* padding: 30px 0 30px 30px; */
  height: 380px;
  background: url("../IMG/KEYPAD_NEW.png") no-repeat center;
  padding: 128px 32px 10px 32px;
}
.key-pad button {
  width: 100px;
  height: 100px;
  font-size: 0;
  margin-right: 16px;
}
.key-pad .key-pad_btn-back,
.key-pad .key-pad_btn-check {
  margin-right: 0 !important;
  margin-left: 20px;
}

.key-pad .key-pad_btn-close {
  position: absolute;
  right: 25px;
  top: 16px;
  width: 80px;
  height: 80px;
  margin: 0;
}

.key-pad-on.active {
  border-color: #6744f3 !important;
}

@keyframes shake3 {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes slideUp1 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* 개념 익히기 공통 요소 추가 (3단원~) */

.main__container {
  width: 100%;
  height: 100%;
}

.main__container,
.main__container p,
.main__container table th,
.main__container table td {
  font-size: 44px;
  color: #000;
  font-weight: 700;
  letter-spacing: 0;
}

.main__container table {
  border-collapse: collapse;
}

.step_sub_title {
  left: 52px;
  top: 60px;
  position: absolute;
  z-index: 9;
}

.step_sub_title p {
  padding-left: 52px;
  background: url("../IMG/CONCEPT/COMM/ICON_SUB_TITLE.png") no-repeat left
    center;
  color: #6744f3;
}

.full_content_comm {
  width: 100%;
  height: 595px;
  transform: translate(0, -47px);
  position: relative;
}

.full_content_comm .step_sub_title {
  top: 0;
}

.txt_box {
  background-color: rgba(199, 230, 103, 1);
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 36px;
}

.character_txt {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  z-index: 99;

  display: none;
}

.img_container {
  position: relative;
}

.img_container .img {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}

.img_container .img:first-child {
  display: block;
}

.character_hint {
  position: relative;
}

.character_hint .character_head {
  width: 130px;
  height: 110px;
  background: url("../IMG/CONCEPT/COMM/CHARACTER_BS_HEAD1.png") no-repeat;
  animation: 2s shake3 infinite;
}

.character_hint .hint {
  position: absolute;
  left: calc(100% + 10px);
  bottom: 0;
}

.character_hint .hint > img {
  width: auto;
}

.img_point__wrap {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: width 1s ease-in-out;
}

.img_point__wrap img {
  width: auto;
}

/* 드래그 앤 드롭 */
.answer_box {
  position: relative;
  z-index: 100;
}

.answer_list {
  display: flex;
  position: relative;
}

.quiz_correct .answer,
.answer_list .answer {
  border-radius: 20px;
  background-color: #bedaff;
  width: 133px;
  height: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.answer_list .answer.disabled {
  background-color: rgba(217, 217, 218, 1) !important;
  color: rgba(180, 179, 180, 1) !important;
}

.answer_list .answer + .answer {
  margin-left: 20px;
}

.answer_list .touchMotion_hand {
  position: absolute;
  left: 60%;
  top: auto;
  bottom: -60px;
  transform: translate(-50%, 0);
  animation: touchGuide 1s 2 forwards;
  z-index: 100;
}

@keyframes touchGuide {
  0% {
    bottom: -60px;
  }

  100% {
    bottom: 60px;
  }
}

/* 선택형 */
.select_list {
  display: flex;
}

.select_list .answer {
  position: relative;
  border-radius: 20px;
  background-color: #bedaff;
  width: 133px;
  height: 75px;
  font-size: 44px;
  letter-spacing: 0;
  color: #000;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

.select_list .answer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(103, 68, 243, 0.8);
  opacity: 0;
}

.select_list .answer.brd,
.select_list .answer.brd::after {
  border-radius: 15px;
}

.select_list .answer.unselected::after {
  animation: 1s opacityBlink infinite;
}

.select_list .answer.disabled,
.select_list .answer.disabled .highlight {
  background-color: rgba(217, 217, 218, 1) !important;
  color: rgba(180, 179, 180, 1) !important;
}

.select_list .answer.disabled::after {
  display: none !important;
}

.select_list .answer.selected,
.select_list .answer.selected .highlight {
  background-color: rgba(70, 88, 255, 1) !important;
  color: #fff !important;
}

.select_list .answer + .answer {
  margin-left: 20px;
}

/* S: 선 따라 그리기 */
.canvas-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-container > .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas {
  position: absolute;
  z-index: 10;
  opacity: 0;
}

.canvas.on {
  opacity: 1;
}

/* write casvas */
.canvas__bg__write {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: none;
}

.canvas__bg__write img {
  transition: all 0.5s;
}

/* gif */
.canvasImg {
  opacity: 1;
}

.canvas__bg__write.active .canvasImg {
  opacity: 0;
}

.canvasGif {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.canvas__bg__write.active .canvasGif {
  display: block;
}

.canvas__container__box {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 450px;
  position: relative;
}

.canvas__container__box canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
/* E: 선 따라 그리기 */

.analog_clock_box .touchMotion_hand {
  position: absolute;
  left: 60%;
  top: auto;
  bottom: -60px;
  transform: translate(-50%, 0);
  animation: touchGuide 1s 2 forwards;
  z-index: 100;
}

.calc_comm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc_comm .caption {
  padding: 12px 16px;
  font-size: 36px;
  border-radius: 10px;
  background-color: #ffb8ef;
}

.calc_comm .caption + div {
  margin-left: 48px;
}

.calc_comm .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4658ff;
}

.calc_comm .txt {
  height: 75px;
  line-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc_comm > div + div,
.calc_box_comm > div + div,
.calc_arrow_comm > div + div {
  margin-left: 15px;
}

/* S: 패드 정렬 이슈로 추가한 부분 절대 삭제 금지 */
.calc_comm > .txt,
.calc_box_comm > .txt,
.calc_arrow_comm > .txt {
  padding-top: 2px;
}

.calc_comm > .txt:last-child,
.calc_box_comm > .txt:last-child,
.calc_arrow_comm > .txt:last-child {
  padding-right: 2px;
}
/* E: 패드 정렬 이슈로 추가한 부분 절대 삭제 금지 */

.calc_arrow_comm {
  padding-left: 82px;
  background: url("../IMG/CONCEPT/COMM/ARROW_PINK2.png") no-repeat left top 7px;
}

.column_calc_comm {
  display: flex;
  flex-flow: column;
  position: relative;

  padding: 60px 0;
  font-size: 54px;
}

.column_calc_comm .column_calc,
.column_calc_comm .column_calc_result,
.column_calc_comm .column_calc_ceil {
  z-index: 1;
}

.column_calc_comm .column_calc {
  width: 100%;
  padding-left: 55px;
}

.column_calc_comm .column_calc_result {
  width: 100%;
  border-top: solid 4px rgba(0, 0, 0, 1);
  padding-top: 20px;
  margin-top: 20px;
}

.column_calc_comm .column_calc_result .txt {
  border-radius: 5px;
}

.column_calc_comm .column_calc_ceil {
  width: 100%;
  height: 45px;

  position: absolute;
  top: 0;
  left: 0;
}

.column_calc_comm .column_calc_ceil .txt {
  position: absolute;
  top: 0;
  right: 30.5px;
  transform: translate(50%, 0);

  width: 37px;
  height: 45px;
  border-radius: 5px;
  font-size: 34px;
  line-height: 45px;
  text-align: center;
  padding: 2px 2px 0 0;
}

.column_calc_comm .column_calc_ceil .txt.point,
.column_calc_comm .column_calc_result .txt.point {
  background-color: rgba(255, 184, 239, 0.5);
}

.column_calc_comm .column_calc_ceil .txt.txt10 {
  right: 82.5px;
}

.column_calc_comm .column_calc_ceil .txt.txt100 {
  right: 137.5px;
}

.column_calc_comm .row {
  width: 100%;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.column_calc_comm .row + .row {
  margin-top: 15px;
}

.column_calc_comm .row .txt {
  width: 55px;
  text-align: center;
  position: relative;
}

.column_calc_comm .column_calc .row:last-child::before {
  content: "";
  position: absolute;
  width: 55px;
  left: -55px;
  top: 0;
  text-align: center;
}

.column_calc_comm.plus .column_calc .row:last-child::before {
  content: "+";
}

.column_calc_comm.minus .column_calc .row:last-child::before {
  content: "-";
}

.column_calc_comm .txt.dash::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  width: 4px;
  height: 55px;
  background-color: rgba(255, 100, 220, 1);
}

.column_calc_comm .column_calc_point {
  position: absolute;
  border-radius: 10px;
  background-color: rgba(255, 184, 239, 0.5);
  width: 55px;
  height: calc(100% - 100px);
  top: 50px;
  right: 0;
  z-index: 0;

  display: none;
}

.column_calc_comm .column_calc_point.point10 {
  right: 55px;
}

.column_calc_comm.blue .column_calc_ceil .txt.point,
.column_calc_comm.blue .column_calc_result .txt.point,
.column_calc_comm.blue .column_calc_point {
  background-color: rgba(190, 218, 255, 0.3);
}

.column_calc_comm.green .column_calc_ceil .txt.point,
.column_calc_comm.green .column_calc_result .txt.point,
.column_calc_comm.green .column_calc_point {
  background-color: rgba(199, 230, 103, 0.5);
}

.content_box_comm {
  border-radius: 30px;
  background-color: rgba(242, 245, 255, 1);
}

.content_line_box_comm {
  border-radius: 20px;
  background-color: #fff;
  border: solid 6px #bedaff;
}

.hint_content {
  padding: 32px 45px;
  border-radius: 20px;
  background-color: #fff;
  border: solid 4px rgba(0, 0, 0, 1);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}

.hint_content::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 62px;
  background: url("../IMG/CONCEPT/COMM/IMG_HINT_CONTENT.png") left center
    no-repeat;
  right: calc(100% - 1px);
  top: 50%;
  margin-top: -31px;
}

.hint_content.left::before {
  right: auto;
  left: calc(100% - 1px);
  transform: scaleX(-1);
}

.hint_content .column_calc_comm {
  padding: 0;
  /* color: #fff; */
}

.hint_content_small {
  border-radius: 20px;
  padding: 24px 32px;
  background-color: rgba(255, 234, 250, 1);
  position: relative;
}

.hint_content_small img {
  width: auto;
}

.hint_content_small::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 16px;
  background: url("../IMG/CONCEPT/COMM/HINT_TOP_PINK.png") center no-repeat;
  bottom: calc(100% - 1px);
  left: 50%;
  margin-left: -11.5px;
}

.hint_content_small.blue {
  background-color: rgba(236, 244, 255, 1);
}

.hint_content_small.blue::before {
  background: url("../IMG/CONCEPT/COMM/HINT_TOP_BLUE.png") center no-repeat;
}

.character_hint .hint_content {
  position: absolute;
  left: calc(100% + 60px);
  bottom: 0;
  padding: 20px 36px;
}

.character_hint .hint_content::before {
  top: auto;
  bottom: 30px;
  width: 54px;
  height: 29px;
  background: url("../IMG/CONCEPT/COMM/IMG_HINT_CONTENT_CHAR.png") left bottom -39px
    no-repeat;
}

/* 수배열판 */
.number_board_table > table {
  border-collapse: collapse;
}

.number_board_table.point > table {
  border: solid 5px rgba(103, 68, 243, 1);
}

.number_board_table > table td {
  border: solid 4px #b098c1;
}

.number_board_table .td {
  width: 150px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.number_board_table .circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: solid 4px #ec008c;
  position: relative;
}

.number_board_table .circle_blue {
  border-color: #2574fc;
}

.number_board_table .circle.point {
  border-color: #6744f3 !important;
}

.number_board_table .circle.dash::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 85px;
  height: 4px;
  background-color: #00aeef;
}

/* 수모형 테이블 */
.number_model__table {
  width: 487px;
}

.number_model__table .table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.number_model__table .tr {
  width: 100%;
  display: flex;
}

.number_model__table .tr .th,
.number_model__table .tr .td {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.number_model__table .tr .th {
  width: 50%;
  font-size: 36px;
}

.number_model__table .tr .td:first-child {
  width: calc(50% + 1.5px);
}

.number_model__table .tr .td:last-child {
  width: calc(50% - 1.5px);
}

.number_model__table_100 .tr .th,
.number_model__table_100 .tr .td {
  width: 33.33%;
}

.number_model__table_100 .tr .td:first-child {
  width: calc(33.33% + 1.5px);
}

.number_model__table_100 .tr .td:last-child {
  width: calc(33.33% - 1.5px);
}

.number_model__table .tr .th {
  height: 82px;
}

.number_model__table .tr .th:first-child {
  border-radius: 20px 0px 0px 0px;
}

.number_model__table .tr .th:last-child {
  border-radius: 0px 20px 0px 0px;
}

.number_model__table .tr .td {
  border: solid 3px rgba(218, 225, 245, 1);
  border-top: 0;
  height: 206px;
}

.number_model__table .tr .td + .td {
  border-left: 0;
}

.number_model__table .tr:last-child .td:first-child {
  border-radius: 0px 0px 0px 20px;
}

.number_model__table .tr:last-child .td:last-child {
  border-radius: 0px 0px 20px 0px;
}

.number_model__table .tr .th.th_1 {
  background-color: rgba(255, 184, 239, 1);
}

.number_model__table .tr .th.th_10 {
  background-color: rgba(190, 218, 255, 1);
}

.number_model__table .tr .th.th_100 {
  background-color: rgba(190, 218, 20, 1);
}

/* 수모형 테이블2 */
.number_model__table2 {
  width: 492px;
}

.number_model__table2 .table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 3px rgba(159, 160, 160, 1);
  border-radius: 20px;
  position: relative;
}

.number_model__table2 .table::after {
  content: "";
  width: 3px;
  height: 100%;
  background-image: url(../IMG/CONCEPT/SEASON2/COMM/NUMBER_MODEL__TABLE2_MID_LINE.svg);
  background-repeat: repeat-y;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}

.number_model__table2 .tr {
  width: 100%;
  display: flex;
  position: relative;
}

.number_model__table2 .tr .th,
.number_model__table2 .tr .td {
  width: 50%;
  font-size: 36px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number_model__table2 .tr .th {
  height: 82px;
  border-bottom: solid 3px rgba(159, 160, 160, 1);
  overflow: hidden;
}

.number_model__table2 .tr .th:first-child {
  border-radius: 20px 0px 0px 0px;
}

.number_model__table2 .tr .th:last-child {
  border-radius: 0px 20px 0px 0px;
}

.number_model__table2 .tr .td {
  height: 190px;
}

.number_model__table2 .tr:nth-child(n+3)::after {
  content: "";
  width: 100%;
  height: 3px;
  background-image: url(../IMG/CONCEPT/SEASON2/COMM/NUMBER_MODEL__TABLE2_MID_LINE2.svg);
  background-repeat: repeat-x;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

.number_model__table2 .tr .th.th_1 {
  background-color: rgba(250, 220, 233, 1);
}

.number_model__table2 .tr .th.th_10 {
  background-color: rgba(202, 226, 240, 1);
}

.number_split_tooltip_wrap {
  position: relative;
  text-align: center;
}

.number_split_tooltip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  text-align: center;

  top: calc(100% - 3px);
  left: 50%;
  transform: translate(-50%, 0);
}

.number_split_tooltip > div {
  padding-top: 48px;
  width: 88px;
}

.number_split_tooltip .tooltip_left {
  /* 3단원 기준으로 색상 fix (0328) */
  background: url("../IMG/CONCEPT/COMM/ARROW_LEFT_BLUE4.png") no-repeat top
    right;
  color: rgba(37, 116, 252, 1);
  margin-right: -4px;
}

.number_split_tooltip .tooltip_right {
  /* 3단원 기준으로 색상 fix (0328) */
  background: url("../IMG/CONCEPT/COMM/ARROW_RIGHT_RED4.png") no-repeat top left;
  color: rgba(255, 100, 220, 1);
  margin-left: -4px;
}

/* 수직선 (가로방향) */
.vertical_line_box .line.vertical {
  position: relative;
}

.vertical_line_box .line.vertical::after {
  content: "";
  height: var(--vertical-line-thick);
  background-color: var(--vertical-line-color);
  border-radius: calc(var(--vertical-line-thick) / 2);
  position: absolute;
  top: calc(var(--vertical-line-num-height) / 2);
  transform: translateY(-50%);
  width: 100%;
}

.vertical_line_box .line.vertical.start_zero {
  transform: translateX(calc((var(--vertical-line-interval) / 4) * -1));
}

.vertical_line_box .line.vertical.start_zero::after {
  width: calc(100% - (var(--vertical-line-interval) / 2));
  right: 0;
}

.vertical_line_box .line.vertical .number {
  position: relative;
  font-size: var(--vertical-line-fontSize);
  width: var(--vertical-line-interval);
  text-align: center;
  padding-top: calc(var(--vertical-line-num-height) + var(--vertical-line-number-marginTop));
}

.vertical_line_box .line.vertical .number::after {
  content: '';
  position: absolute;
  width: var(--vertical-line-num-thick);
  height: var(--vertical-line-num-height);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--vertical-line-color);
  border-radius: calc(var(--vertical-line-num-thick) / 2);
}

.vertical_line_box .line.vertical .detail {
  position: absolute;
  width: var(--vertical-line-detail-thick);
  height: var(--vertical-line-detail-height);
  border-radius: calc(var(--vertical-line-detail-thick) / 2);
  top: calc(var(--vertical-line-num-height) / 2);
  transform: translate(-50%, -50%);
  background-color: var(--vertical-line-color);
}


/* box shadow 쉐도우 blink */
.box_blink {
  animation: 1s boxShodowBlink infinite;
}

@keyframes boxShodowBlink {
  0% {
    box-shadow: 0px 0px 5px rgba(103, 68, 243, 0);
  }

  50% {
    box-shadow: 0px 0px 20px rgba(103, 68, 243, 0.8);
  }

  100% {
    box-shadow: 0px 0px 5px rgba(103, 68, 243, 0);
  }
}

.box_blink2 {
  animation: 1s boxShodowBlink2 infinite;
}

@keyframes boxShodowBlink2 {
  0% {
    box-shadow: 0px 0px 5px rgba(103, 68, 243, 0);
  }

  50% {
    box-shadow: 0px 0px 10px 6px rgba(103, 68, 243, 1);
  }

  100% {
    box-shadow: 0px 0px 5px rgba(103, 68, 243, 0);
  }
}

/* text shadow 쉐도우 blink */
.txt_blink2 {
  animation: 1s txtShodowBlink2 infinite;
}

@keyframes txtShodowBlink2 {
  0% {
    text-shadow: 0px 0px 5px rgba(103, 68, 243, 0);
  }

  50% {
    text-shadow: 0px 0px 10px rgba(103, 68, 243, 1);
  }

  100% {
    text-shadow: 0px 0px 5px rgba(103, 68, 243, 0);
  }
}

/* 애니메이션 한번만 일어나기 */
.ani_once {
  animation-iteration-count: 1 !important;
}

/* 아날로그 시계 */
.analog_clock_box {
  width: var(--analog-clock-width);
  aspect-ratio: 1/1;
  padding: 28px;
  position: relative;
}

.analog_clock_box .clock-frame {
  width: var(--analog-clock-width);
  aspect-ratio: 1/1;
  background-image: url(../IMG/CONCEPT/SEASON2/COMM/clock_frame.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.analog-clock {
  position: relative;
  width: calc(var(--analog-clock-width) - 54px);
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.analog-clock::after {
  content: '';
  width: 22px;
  aspect-ratio: 1/1;
  background-image: url(../IMG/CONCEPT/SEASON2/COMM/clock_center.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 100;
}

.analog-clock>.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  z-index: 10;
}

.analog-clock>.hand.minute {
  width: 6px;
  height: calc(50% - 64px);
  background-color: rgba(228, 0, 127, 1);
  transform: translate3D(-50%, 0, 0) rotate(calc(var(--minute-deg) * 1deg));
}

.analog-clock>.hand.minute::after {
  content: "";
  width: 16px;
  height: 28.5px;
  background-image: url(../IMG/CONCEPT/SEASON2/COMM/minute_arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, -100%);
}

.analog-clock>.hand.hour {
  width: 14px;
  height: calc(50% - 100px);
  background-color: rgba(75, 133, 181, 1);
  transform: translate3D(-50%, 0, 0) rotate(calc(var(--hour-deg) * 1deg));
}

.analog-clock>.hand.hour::after {
  content: "";
  width: 27px;
  height: 35px;
  background-image: url(../IMG/CONCEPT/SEASON2/COMM/hour_arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -100%);
}

/* .analog-clock과 같은 크기의 블록 요소를 회전시킨다. */
.analog-clock>.time,
.analog-clock>.min_time {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: var(--analog-clock-fontSize);
  font-weight: bold;
  text-align: center;
}

.analog-clock>.time::after {
  content: "";
  width: 2px;
  height: 15px;
  background-color: rgba(90, 87, 87, 1);
  border-radius: 1px;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.analog-clock>.min_time::after {
  content: "";
  width: 1px;
  height: 9px;
  background-color: rgba(90, 87, 87, 1);
  border-radius: 0.5px;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.analog-clock>.time.on {
  color: red;
}

.analog-clock>.time span {
  display: inline-block;
}

.analog-clock>.time.time10,
.analog-clock>.time.time11 {
  padding: 21px;
}

.analog-clock>.time.time12,
.analog-clock>.time.time1,
.analog-clock>.time.time2 {
  padding: 15px;
}

.analog-clock .drag-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  border-radius: 50%;
}

/* txt_container 두자리 숫자 */
.txt_container.two {
  width: 133px;
}

.txt_container.four {
  width: 157px;
}

/* 항상 최하단 유지해 주세요 */
.v_hidden {
  visibility: hidden;
}

.dp_none {
  display: none;
}
